@charset "utf-8";
/* CSS Document */

body{
	background-color:#FFF;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:15px;
	margin:0;
	padding:0;
}

#storbox{
	background-color:#000;
	width:100%;
	height:100%;
	position:absolute;
}

header{
	background-color:#06F;
	height:15%;
	width:100%;
	overflow:hidden;
}

h1{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 20px;
	text-align:center;
	margin-top:40px;
	font-size:50px;
	color:#FFF;
}

nav{
	background-color:#000;
	height:5%;
	width:100%;
}

ul{
	list-style:none;
	text-align:center;
	padding:0;
	margin:0;
}

li{
	font-size:25px;
	line-height:40px;
	height:100%;
	width:25%;
	float:left;
}

article{
	background-color:#FFF;
	height:75%;
	width:80%;
	float:left;
	text-align:center;
}

aside{
	background-color:#06F;
	height:75%;
	width:20%;
	float:left;
}
footer{
	text-align:center;
	color:#FFF;
	background-color:#000;
	height:5%;
	width:100%;
	clear:left;
}

a:link{
	text-decoration:none;
	color:#09F;
}

a:visited{
	text-decoration:none;
	color:#09F;
}

a:active{
	text-decoration:none;
	color:#FFF;
}

a:hover{
	text-decoration:none;
	color:#F00;
}










